<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michigan Minute</title>
</head>
<body bgcolor="#f5f5dc">
<h1 class="fa-align-center">
    Welcome to the Michigan Minute
</h1>

<p>
    We realize that in the busy lifestyles that we lead as professionals and students,
    we seldom find time to fully read a news article. Thus, we have created a system that can summarize
    any Michigan Daily article for you to read within a minute, helping you stay up-to-date with the University.
</p>

<p>
    To summarize an article, simply copy its url from the
    <a href="https://www.michigandaily.com" target="_blank"> Michigan Daily's website</a>
    , paste in the textbox below and hit summarize!
</p>

<form method="post">
    <input name="article_url" required="required" type="url" placeholder="Enter link">
    <button type="submit"> Summarize </button>
</form>
</body>
</html>