<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michigan Minute</title>
</head>
<body bgcolor="#f5f5dc">
    <h1>
        {{ article_title }}
    </h1>

    {% if image_url %}
        <img src="{{image_url}}" alt="Image from article" />
    {% endif %}
    <p>
        {% for sentence in article_summary %}
            {{sentence}} <br>
        {% endfor %}
    </p>
    <p>
        Reduced article length by {{reduced_percent}} %.
    </p>
    <p>
        Want to summarize another article?
        <a href="{{home_url}}">Click here</a>
        to go back to the homepage.
    </p>
    <p>
        To learn more about this article, access the full article <a href="{{article_url}}"> here </a>
    </p>
</body>
</html>